<div class="techs-container">

    <ul id="newsAccordion" class="collapsible popout collection" data-collapsible="accordion" watch>

      <li style="opacity: 0;" ng-repeat="single in $ctrl.techs">
        <div class="collapsible-header collection" ng-click="$ctrl.newClicked(single)">
          <i ng-if="$index % 2 == 1" class="material-icons circle green-custom z-depth-4">insert_chart</i>
          <i ng-if="$index % 2 == 0" class="material-icons circle blue-custom z-depth-4">star</i>
          <span class="title">{{single.title}}</span>

        </div>
        <div class="collapsible-body">
          <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-image">
                <img ng-src="{{ single.image }}">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>{{single.content}}</p>
                </div>
                <div class="card-action">
                  <!--<a href="#">This is a link</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

</div>
